body {
    margin: 0px;
    font-family:Arial, Helvetica, sans-serif
}

#salCal {
    padding: 10px;
    color: white;

}

input {
    width: 17.4%;
}

table {
    width: 90%;
}

#topRow {
    background-color:gainsboro
}

#botRow {
    background-color: gain;
}


tr:nth-child(even) {
    background-color: gainsboro;
}

table, th, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
    height: 50px;
    padding: 10px;
    margin: 10px;
}

footer {
    text-align: right;
}

#salCal {
    text-align: center;
    background-color: gray;
    margin: 0px;
    padding: 20px;
}

.goRed {
    background-color: red;
}

#Ee {
    padding-top: 80px;
}

h1 {
    margin: 10px;
    padding: 20px;
}

h3 {
    margin: 10px;
    
}

form {
    margin: 10px;
}

button {
    border-radius: 4px;
}

#submitBtn {
    margin-right: 140px;
    float: right;
    width: 12%;
    padding: 5px;
}

#deleteBtn {
    margin-right: 10px;
    display: block;
    margin: auto;
    
}